@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    button {
      background-color: #222;
      color: white;
      border: 2px solid #222;
    }
    input {
      background-color: #222;
      color: white;
    }
}
.center {
    text-align: center;
}