@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  button {
    background-color: #222;
    color: white;
    border: 2px solid #222;
  }
  input {
    background-color: #222;
    color: white;
  }
}
.center {
  text-align: center;
}
/*.buttons {
  text-align: center;
  height: 150px;
}*/
.record {
  background-color: darkred;
  border: none;
  color: white;
}
#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buttons button {
  font-size: 1rem;
  padding: 1rem;
  width: calc(50% - 0.25rem);
}
#playbutton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#playbutton button {
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  background-color: green;
}